{% extends 'base.html.twig' %}
{% block titlePage %}{{ projet }}{% endblock %}
{% block main %}
    <h3>Create new user type</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}