{% extends 'base.html.twig' %}
{% block titlePage %}{{ projet }}{% endblock %}
{% block main %}
    <h4>≡
        <a href="/transactionType">Transaction Types</a> ≡
        <a href="/transaction/add">Add Transaction</a> ≡
    </h4>
{% endblock %}